version: '3.8'
services:
  search:
    build: ./search
    container_name: search
    ports:
      - '5000:5000'
    environment:
      - Flask_APP=main.py
  frontend:
    build: ./mainService
    container_name: frontend
    ports:
      - '3141:3141'
    depends_on:
      - search
      - cnn
  cnn:
    build: ./flask_CNN_2
    container_name: cnn
    ports:
      - '8083:8083'

  # orchestrateur:
  #   build: ./orchestrateur
  #   container_name: orchestrateur
  #   ports:
  #     - '8080:8080'