{% load static %}

<link rel="stylesheet" href="{% static 'classimage/style.css' %}">

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Face Images</title>
 
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 
    {% for face in face_images %}
            <div class="col-md-4">
                    {{ face.name }}
                    <img src="{{ face.face_Main_Img.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
            </div>
    {% endfor %}
 
</body>
</html>